{% extends 'base.html' %}

{% block content %}

    <section class="main container">
        <div class="row">
            <div class="col-12 offset-md-2 col-md-8">
                <h2 class="title">이름을 입력</h2>
                <h3 class="description">문제를 풀기 전, 당신의 이름을 입력하세요.</h3>
            </div>
            <div class="main-area col-12 offset-md-2 col-md-8">
                <form class="main-form" action="{% url 'quiz' %}" method="POST">
                    <input class="form-control" type="text" name="username">
                    <button class="btn main-btn" type="submit">제출하기</button>
                </form>
            </div>
        </div>
    </section>


{% endblock %}